<main class="container-fluid">
  <div class="row">
    <h3 class="text-center">Find The Heros Closest To You</h3>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      <br>
      <input type="text" size="50" name="delivery_location"  placeholder="Enter a location" class="form-control" id="pac-input" required>
      <input type="hidden" id="latitude" placeholder="Latitude" name="latitude"/>
      <input type="hidden" id="longitude" placeholder="Longitude" name="longitude"/>
      <br>
      <div id="map"></div>
    </div>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <table class="table table-striped">
        <tr class="success">
          <td class="text-center"><strong>Place</strong></td>
          <td><strong>Superhero</strong></td>
          <td class="text-center"><strong>In # of comics</strong></td>
          <td><strong>Resides in</strong></td>
          <!-- <td><strong>Distance to Boston</strong></td> -->
        </tr>
      </table>
      <table class="table table-striped">
        <div id="yourCharacters"></div>
      </table>

      <h4 class="lead text-center"><%= link_to "-> Back to Homepage", root_path%></h4>
    </div>
  </div>

</main>
